.App {
  text-align: center;
}

.app-card {
  margin: auto;
  margin-top: 40px;
  width: 700px;
  color: white;
}

.app-card-header {
  font-size: 50px;
  font-weight: 700;
}

#search-form {
  margin: auto;
  margin-top: 20px;
  width: 550px;
}

#error-txt {
  color: red;
  font-size: 2rem;
  margin-top: 20px;
}

#map-img {
  margin: 20px;
}