
body {
  /* https://unsplash.com/photos/XKZN-V7Erfk?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */
  background-image: url('assets/city.png');
  background-size: no-repeat;
}

.header-card {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  max-width: 700px;
  color: white;
}

.forecast-txt {
  color: white;
}

.app-card {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 40px;
}

.app-card-header {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px #7c7373;
}

.main-header {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px #7c7373;
}

.card-txt {
  font-size: 20px;
}

#search-form {
  margin: auto;
  margin-top: 20px;
  width: 550px;
}

#error-txt {
  text-align: center;
  color: red;
  font-size: 2rem;
  margin-top: 20px;
  text-shadow: 2px 2px #5c0808;
}

#map-img {
  margin: 20px;
  width: 500px;
  height: 500px;
}

#result-title {
  font-size: 20px;
  max-width: 55ch;
}

#coord-result-text {
  font-size: 25px;
}